.row_poster {
    object-fit: contain;
    height: 130px;
    transition: transform 450ms;
    width: 100%;
    margin-right: 15px;
  }
  
  .row_poster:hover {
    transform: scale(1.02);
  }
  
  .row_posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 15px;
  }
  
  .row_posters::-webkit-scrollbar {
    display: none;
  }
  
  .row_posterLarge {
    height: 35vh;
    width: 100%;
  }

.row_posterLarge:hover {
    transform: scale(1.2);
}
.row{
    margin-left: 20px;
    color: white;
}